.product-modal-container {
  background-color: var(--color-card); 
  color: var(--color-card-foreground);
  border-radius: var(--radius-lg);
  padding: 2rem;
  max-width: 500px;
  margin: 5% auto;
  outline: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.product-modal-title {
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-weight: bold;
}
